.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

body {
    background-color: #EEE;
    padding-top: 30px;
}

.panel {
    margin-bottom: 0;
}

.btn-group {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
}

.wrap-radio {
    margin: 16px 0;
}

.wrap-radio p {
    margin: 0 10px 0 0;
    color: red;
}

.wrap-radio label:hover:before {
    content: '表格中没给省份城市id';
    width: 200px;
    padding: 20px 0;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    color: #FFF;
    background-color: #000;
    border-radius: 10px;
    z-index: 1;
}

.wrap-radio label:last-of-type:hover:before {
    content: '给了id';
}

.title-choose {
    float: left;
}

.radio-inline {
    float: left;
}